.ProductScreen {
    max-width: 960px;
    display: flex;
    margin: 16px auto;
}

.ProductScreenLeft {
    display: flex;
    flex: 0.9;
}

.leftImage {
    margin: 16px;
}

.leftInfo {
    margin: 16px;
    height: fit-content;
    background: white;
    font-size: 0.9rem;
}

.ProductName {
   font-weight: bold ; 
   font-size: 1.6rem;
}

.leftInfo > p,
.rightInfo > p {
    padding: 16px;
    border-bottom: 1px solid rgba(0,0,0, 0.2); 
}

.leftInfo > p:last-child,
.rightInfo > p:last-child {
    border: none;
}

.ProductScreenRight {
    flex: 0.2;
}

.rightInfo {
    margin: 16px;
    width: 200px;
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    background: #fff;
}

.rightInfo p{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 16px;
    font-size: 16px;
}

.rightInfo > p  button {
    color: #171717;
    background-color: #f1f1f1;
    font-size: 16px;
    grid-column: 1/4;
    padding: 10px;
    border: 1px solid  #171717;
}

.rightInfo > p:hover  button {
    color: #f1f1f1;
    background: #171717;
}

.rightInfo > p  select {
    padding: 10px 16px;
}







